
@import url('http://fonts.cdnfonts.com/css/gotham');
@import url('http://fonts.cdnfonts.com/css/work-sans');
*{
    margin: 0;
    box-sizing: border-box;    
}

/* HEADER */

.nav-iconos-subs{
    display: flex;
    justify-content: space-between;
    width: 98%;
    margin: auto;
    padding: 8px 0 8px 0;
}

.nav-iconos,
.subs{
    display: flex;  
    align-items: center;   
}

.nav-iconos
.clima,
.search,
.fecha{
    margin-left: 13px;   
}
.search{
    position: relative;
    bottom: -2px;
}
.fecha{
    font-family: 'Work Sans', sans-serif;                                              
    color: #717171;
    font-weight: normal;
    font-size: 14px;
}
.clima {
    font-size: 18px;
    color: #717171;
    font-weight: 600;
    font-family: 'Work Sans', sans-serif;   
}
.clima img{
    position: relative;
    bottom: -2px;
}
.clima span{
    font-size: 10px;
    position: relative;
    top: -6px;
    font-weight: lighter;
    
}
.subs p{
    margin-left: 5px;
    font-family: 'Work Sans', sans-serif;
    font-weight: bolder;
    font-size: 14px;
    color: #717171;

}
.contenedor-nav-icon{
    border-bottom: solid 1px #DDE5ED;
}


.logo-categorias{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom:solid 1px #DDE5ED;
}
.logo-categorias img{
    align-items: center;
    width: 300px;
}

.categorias{
    display: flex;    
}
.categorias p{
    margin-left: 12px;
    font-family: 'Work Sans', sans-serif;
    font-size: 15px;
    color: #000000;
    font-weight: 600;
    padding-bottom: 10px;
}

/* FIN HEADER */

/* MAIN */
main{
    width: 98%;
    margin: auto;   
    
}
.contendor-main{
    display: flex;
    margin-top: 20px;
}
/* SECCION 1  */
.seccion-1{
    width: 40%;
    padding: 0 10px 0 0px;
    
}
.seccion-1 img{
    width: 270px;
}
.articulo-1,
.articulo-2,
.articulo-3,
.articulo-4,
.articulo-5,
.articulo-6,
.articulo-7,
.articulo-8,
.articulo-9
{
    border-bottom: solid 1px #DDE5ED;
}

/* FIN SECCION 1 */

/* SECCION 2 */
.seccion-2{
width: 43%;
padding: 0 12px 0 14px;
border-left: solid 1px #DDE5ED;
border-right: solid 1px #DDE5ED;

}
.seccion-2 img{
    width: 390px;
}
.img-subtittulo{
    display: flex;
}
/* FIN SECCION 2 */

/* SECCION 3 */
.seccion-3{
    width: 35%;
    padding: 0 0 0 10px;
    
}
.seccion-3 img{
    width: 245px;
    height: 160px;
}

/* FIN SECCION 3 */

.destacados{
     text-align: center;
     padding: 16px 0 16px 0; 
     
}
.destacados .dest{
    font-size: 15px;
    font-weight: bold;
    color: #005077;
    font-family: 'Gotham', sans-serif; 
     
}
.destacados img{
    position: relative;
    bottom: -1px;
    width: 12px;
}
.destacados .noticia{
    font-size: 14px;
    font-family: 'Work Sans', sans-serif;
    color: #000000;
    font-weight: 500;
}
.titulo-g{
    font-size: 27px;
    font-family: 'Work Sans', sans-serif;
    color: #000000;
    font-weight: bold;
    margin-bottom: 25px;
    

}
.titulo-g-2{
    font-size: 21px;
    font-family: 'Work Sans', sans-serif;
    color: #000000;
    font-weight: bold;
}
.titulo{
    font-size: 14px;
    color: #005077;
    font-family: 'Gotham', sans-serif; 
    font-weight: bold;
    padding: 18px 0 10px 0;
}
.sub-titulo{
    font-size: 16px;
    font-family: 'Gotham', sans-serif; 
    font-weight: bold;
    color: #000000;
    margin: 5px 0 14px 0;
}
.titulo-img{
    margin-left: 12px;
    position: relative;
    top: -7px;
}
.texto-1{
    font-size: 16px;
    color: #000000;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400 ;
}
.texto-2{
    font-size: 14px;
    color: #000000;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400 ;
}

.texto-1,
.texto-2{
    margin: 10px 0 10px 0;
}

.maq{
   
    margin: 50px 0 15px 10px;
    font-family: 'Gotham', sans-serif; 
    font-weight: bold;
    font-size: 13px;
    color: #005077;
}
